.navbar-norm {
    /* background-color: #3CB54A; */
    background-color: white;
    /* color: white; */
    color: black;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
    border-bottom:  none;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    border-radius: 0%;
}

.nav {
    margin-left: 20px;
}

.reinvent {
    font-size: 150%;
    transition: ease .2s;
}

.inspire {
    font-size: 150%;
    transition: ease .2s;
}

.reinvent:hover {
    color: #3CB54A;
    font-size: 150%;
}

.inspire:hover {
    color: dodgerblue;
    font-size: 150%;
}


.top-logo {
    display: inline-block;
    padding-right: 5px;
    padding-top: 5px;
}

.top-name {
    display: inline-block;
    height: 50px;
    line-height: 60px;
}

.logo {
    width: 55px;
    height: 38.5px;
    margin: 0;
}

.navbar-default .navbar-brand {
    /* color: white; */
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 45px;
    padding: 0;
    padding-left: 15px;
    
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.navbar-default .navbar-nav>li>a:hover {
    color: black;
    font-family: 'Open Sans', sans-serif;

}

.SignUp {
    /* background-color: #3CB54A; */
    color: #3CB54A;
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none!important;
    transition: ease .2s;
}

.SignUp:hover {
    /* background-color: #3CB54A; */
    color: #3CB54A;
    color: rgb(44, 131, 54);
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none!important;
}

a:link {
    text-decoration: none;
}


.navbar-right {
    box-shadow: none !important;
}

.avatar-logo {
    width: 35px;
    height: 35px;
    display: inline;
}

a#basic-nav-dropdown.dropdown-toggle {
    padding-bottom: 0;
    padding-top: 7px;
}