.nav {
    /* background-color: #3CB54A; */
    background-color: white;
    /* color: white; */
    color: black;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
    border-bottom:  none;
    box-shadow: 1px 1px 1px #546D64;
    margin: 0;
    border-radius: 0%;
}

.Name {
}

.top-logo {
    display: inline-block;
    padding-right: 5px;
}

.top-name {
    display: inline-block;
    height: 50px;
    line-height: 60px;
}

.logo {
    width: 50px;
    height: 35px;
    margin: 0;
}

.navbar-default .navbar-brand {
    /* color: white; */
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 45px;
    padding: 0;
    padding-left: 15px;
    
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.navbar-default .navbar-nav>li>a:hover {
    color: black;
    font-family: 'Open Sans', sans-serif;

}

.SignUp {
    padding: 10px;
    background-color: #3CB54A;
    color: white;
    font-size: 125%;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 50px;
}

.SignUp:hover {
    padding: 10px;
    background-color: #3CB54A;
    color: white;
    font-size: 125%;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 50px;
}

.navbar-right {
    box-shadow: none !important;
}