.top-profile {
    height: 75vh;
    background-color: #e6ecf0;
}

.top-color {
    height: 35vh;
    background-size: cover;
    background-position-y: 350px;
}

.avatar {
    text-align: center;
    position: relative;
    bottom: 100px;
    z-index: 5;
}

.profile-intro {
    position: relative;
    text-align: center;
    bottom: 200px;
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
}

.profile-name {
    color: black;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.profile-town {
    margin-top: 0;
}

.connectButton {
    margin-top: 15px;
    width: 45vmin;
    height: 50px;
    background-color: #3CB54A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
    color: white;
}

.connectButton:hover{
    margin-top: 15px;
    width: 20%;
    height: 10%;
    background-color: #3CB54A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
    color: white;
}

.main-profile {
    height: 200vh;
    margin-top: 20px;
    text-align: center;
    margin-top: 0;
}

.profile-section {
    display: inline-block;
    width: 85vmin;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    margin: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    /* box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.543); */
}

.profile-transition {
    display: inline-block;
    width: 70vmin;
    margin: 0 auto;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
}

.transition-arrow {
    height: 50px;
    width: 50px;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;

}

