.top-profile {
    margin-bottom: -200px;
    background-color: #e6ecf0;
}

.top-color {
    height: 35vh;
    background-size: cover;
    background-position-y: 35vmax;
    margin-top: 50px;
}

.avatar {
    text-align: center;
    position: relative;
    bottom: 150px;
    z-index: 5;
    height: 200px;
    font-size: 75px;
}

.profile-intro {
    position: relative;
    text-align: center;
    bottom: 250px;
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding-bottom: 15px;
}

.profile-name {
    color: black;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.profile-town {
    margin-top: 0;
}

.connectButton {
    display: inline;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20vmin;
    height: 50px;
    background-color: #3CB54A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    padding-top: 10px;
    color: white;
    border-radius: 25px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.connectButton:hover{
    display: inline;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20vmin;
    height: 50px;
    background-color: #3CB54A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    padding-top: 10px;
    color: white;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.linkedinButton {
    display: inline;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20vmin;
    height: 50px;
    background-color: #0A2E36;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    padding-top: 10px;
    color: white;
    border-radius: 25px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.linkedinButton:hover{
    display: inline;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20vmin;
    height: 50px;
    background-color: #0A2E36;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    padding-top: 10px;
    color: white;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.main-profile {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    text-align: center;
    vertical-align: top;
    margin-top: -250px;
    justify-content: space-between;
}

.profile-section {
    vertical-align: top;
    top: -100px;
    display: inline-block;
    width: 80vmin;
    /* height: 300px; */
    background-color: white;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    border-radius: 20px;
    font-size: 17px;
    /* box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.543); */
}

.profile-transition {
    display: inline-block;
    width: 90vmin;
    margin: 0 auto;
    height: 220px;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    font-size: 4vmin;
    font-weight: bold;
    padding-top: 35px;
}

.transition-arrow {
    height: 7vmin;
    width: 7vmin;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;

}

.subtitle {
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
    font-size: 90%;
    padding: 15px;
    padding-bottom: 0;
}

.subtitleLine {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mentortag {
    background-color: dodgerblue;
    font-size: 22px;
    position: relative;
    top: -100px;
    left: 70px;
    width: 50px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    z-index: 25;
}

