.img-container {
    width: 100%;
    bottom: 0px;
    height: 100vh;
    background-size: cover;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
}

.formTitle {
    padding-top: 10vh;
    text-align: center;
    color: #3CB54A;
    font-family: 'Open', sans-serif;
    font-weight: 300;
    font-size: 7vmax;
    margin-bottom: 30px;
}

.submit {
    background-color: #3CB54A;
    width: 150px;
    color: white;
    margin: 0 auto;
    border-radius: 50px;
}

.submit:hover {
    background-color: #3CB54A;
    width: 150px;
    color: white;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
}

.submit-container {
    text-align: center;
    margin: 0 auto;
}

.signup-forward {
    color: #3CB54A;
}

.signup-forward:hover {
    color: #3CB54A;
}