.img-container {
    width: 100%;
    bottom: 0px;
    height: 100vh;
    background-size: cover;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
}

h1 {
    padding-top: 10vh;
    text-align: center;
    color: #3CB54A;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 7vmax;
}

.submit {
    background-color: #3CB54A;
    color: white;
    margin: 0 auto;
}

.submit-container {
    text-align: center;
    margin: 0 auto;
}