.steps {
    padding-top: 2vmax;
    text-align: center; 
    width: 100%;  
    padding-bottom: 5vh;
    /* height: 100vh; */
}


.intro-text {
    color: #6e8387;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vmax;
    padding-left: 5vw;
    text-align: left;
    margin: 0;
}

.intro-sub {
    margin: 0 auto;
    margin-top: 2vmax;
    line-height: 200%;
    width: 80%;
    font-size: 2vmax;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
  }

.steps-num {
    border: .3vh solid #3CB54A;
    border-radius: 50%;
    width: 3vmax;
    height: 3vmax;
    font-size: 2vmax;
    text-align: center;
    margin: 0;
    margin-bottom: 25vh;
}

@media only screen and (min-width: 1170px) {

}
/* 
.vertical-timeline-element-content::before {
    border-left-color: green !important;
} */


.signupButton {
    margin-top: 15px;
    width: 300px;
    height: 50px;
    background-color: #3CB54A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
    color: white;
}

.signupButton:hover{
    margin-top: 15px;
    width: 300px;
    height: 50px;
    background-color: #3CB54A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
    color: white;
}