.timeline {
    padding-top: 2vmax;
    text-align: center; 
    width: 100%;  
    /* background-color: #6e8387; */
}


.timeline-text {
    color: #3CB54A;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 5vmax;
    /* padding-left: 5vw; */
    margin: 0;
}

.timeline-sub {
    margin: 0 auto;
    color: white;
    margin-top: 2vmax;
    line-height: 200%;
    width: 80%;
    font-size: 2vmax;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
  }

.steps-num {
    border: .3vh solid #3CB54A;
    border-radius: 50%;
    font-size: 2vmax;
    text-align: center;
    margin: 0;
    margin-bottom: 25vh;
}



.step-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 1px;
    color: lightgrey;
    /* background: #3CB54A !important; */
}

.vertical-timeline-element-content {
    /* border-top: solid #3CB54A !important; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-icon {
        font-size: 300% !important;
    }
}

.vertical-timeline-element-icon {
    font-size: 200%;
}

.timeline-body {
    font-size: 125% !important;
}

.vertical-timeline-element-title {
    color: #3CB54A;
    font-size: 200% !important;
}

.vertical-timeline {
    margin-bottom: 0;
    color: lightslategrey;
}

.vertical-timeline::before {
    content: '';
    position: absolute !important;
    top: 0;
    left: 7px;
    height: 100%;
    width: 2px !important;
    background: lightgray !important;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline:before {
        left: 50%;
        margin-left: -18.6px !important;
    }
    .vertical-timeline-element-content {
        margin-left: -15px !important;
        width: 45% !important;
    }

    .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
        float: right;
        margin-right: 30px !important;
    }

}


.signupBottom {
    margin-top: 15px;
    width: 250px;
    height: 50px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #3CB54A;
    border-radius: 50px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.signupBottom:hover{
    margin-top: 15px;
    width: 250px;
    height: 50px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #3CB54A;
    border-radius: 50px;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}